#root {
  margin: 0 auto;
}

header {
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 1rem;
  padding: 2rem;
  text-align: left;
  align-items: center;
  background-color: lightcoral;
  border-radius: 15px;
}

.page-wrapper {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-rows: 1fr 4fr;
}

.title {
  margin: .5rem;
  grid-column: 1 / 2;

}

.score {
  display: flex;
  flex-direction: column;

  font-size: 1.2rem;
  grid-column: 2 / 3;
}

.score-reg {
  margin: .5rem;
}

.score-high {
  margin: .5rem;
}

.game-board {
  display: grid;
  justify-items: center;
  align-items: center;
  margin: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 1rem;
  justify-content: center;
  align-items: center;

}

.card {
  width: 19rem;
  height: 19rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 15px;
}